body {
    margin: 0;
    padding: 0;
}


#mainContainer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid red;
}



#etchDiv {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
